.panel-body{
  margin-top: 70px;
  width: 300px;
}

#tit{
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #e3e3e3;
}

#desc{
  margin-top: 80px;
  text-align: center;
  color: #e3e3e3;
}
